- content_for :page_title do
  = t('settings.followers')

- content_for :header_tags do
  = javascript_pack_tag 'admin', integrity: true, async: true, crossorigin: 'anonymous'

= form_for(@form, url: settings_follower_domains_path, method: :patch) do |f|
  = hidden_field_tag :page, params[:page]

  .batch-table
    .batch-table__toolbar
      %label.batch-table__toolbar__select.batch-checkbox-all
        = check_box_tag :batch_checkbox_all, nil, false
      .batch-table__toolbar__actions
        = f.button safe_join([fa_icon('trash'), t('admin.statuses.batch.delete')]), name: :delete, class: 'table-action-link', type: :submit, data: { confirm: t('admin.reports.are_you_sure') }
    .batch-table__body
      = render partial: 'account', collection: @followers, locals: { f: f }

= paginate @followers
